<!-- base layout template which all other pages extend, contains Nav and footer -->
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            {# extendable title comment #}
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href={% static 'allergens/style.css' %} />
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body>
        <!-- site-wide responsive navigation -->
        <nav class='navbar fixed-top navbar-expand-md navbar-light bg-light'>
            <a class='navbar-brand' href="{% url 'allergens:root' %}">Allergen Tracker v0.1</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <!-- The If Else template tags in this a tag toggle Active/Inactive Bootstrap classes based on current URL -->
                    <a class=
                    {% if request.get_full_path != '/' %}
                        'nav-item nav-link inactive'
                    {% else %}
                        'nav-item nav-link active'
                    {% endif %}
                    href="{% url 'allergens:root' %}">Home</a>
                    <a class=
                    {% if  request.get_full_path != '/about/' %}
                        'nav-item nav-link inactive'
                    {% else %}
                        'nav-item nav-link active'
                    {% endif %}
                     href='{% url 'allergens:about' %}'>About</a>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}

        <!-- site-wide footer -->
        <nav class='navbar fixed-bottom navbar-light bg-light'>
            <span class='navbar-text'>©Kurt Strecker 2017</span>
            <span class='navbar-text'>502-468-7387</span>
        </nav>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>

</html>