{% extends 'layout.html' %}

<!-- just an about page, nothing special happening here -->

{% block title %}
Allergen Tracker - About
{% endblock title %}

{% block content %}
<div class='container'>
    <h2>Welcome to Allergen Tracker!</h2>
    <p>This site is intended to be used as a tool for new parents who have begun introducing solid foods to their baby's diet.</p>
    <p>The top 8 allergens are recommended to be introduced at least 3 separate time and it's important to space them out so any 
        reactions can clearly be tied to a single allergen.
    </p>
    <p>
        Note-taking after each meal to log that an allergen has been introduced and for documenting any redness or suspected reactions
        can prove helpful as a family works through the list of all eight! The log can also be helpful at the baby's next doctors appointment
        so the pediatrician can stay up to date on what has been introduced and make not of any reactions.
    </p>
</div>
{% endblock content%}