{% extends 'layout.html' %}

{% block title %}
Allergen Tracker - About
{% endblock title %}

{% block content %}
<div class='container'>
    <h2>Welcome to Allergen Tracker!</h2>
    <p>This site is intended to be used as a tool for new parents who have begun introducing solid foods to their baby's diet.</p>
    <p>The top 8 allergens are reccomended to be introduced at least 3 seperate time and it's important to space them out so any 
        reactions can clearly be tied to a single allergen.
    </p>
    <p>
        Notetaking after each meal to log that an allergen has been introduced and for documenting any redness or suspected reactions
        can prove helpful as a family works through the list of all eight! The log can also be helpful af the baby's next doctors appointment
        so the pediatricain can stay up to date on what has been introduced and make not of any reactions.
    </p>
</div>
{% endblock content%}