{% extends 'layout.html' %}

{% block title%}
{{ allergen_name }}
{% endblock title%}

{% block content %}
<div class='w-75 mx-auto container'>
    <h1>{{ allergen_name }}</h1>
</div>

    <div class='w-75 mx-auto container'>
        <p>
            <form action ='comment' method='get'>
                {% csrf_token %}
                <input type='submit' value='Add Comment' class='btn btn-primary btn-sm'/>
            </form>
        </p>
    </div>
<div class='w-75 mx-auto container'>
    {% for comment in allergen_comments %}
    <p>{{ comment.comment_text }}
    <form action="{{ comment.pk }}/" method='get' class='delete'>
        {% csrf_token %}
        <input type='submit' value='Delete' class="btn btn-danger btn-sm"/>
    </form>
    <form action="{{ comment.pk }}/update/" method='get' class='update'>
        {% csrf_token %}
        <input type='submit' value='Update' class='btn btn-primary btn-sm'/>
    </form>
    </p>

    {% endfor %}
</div>

{% endblock content %}

