{% extends 'layout.html' %}

{% block title %}
<!-- Changes title based on whether user is working with an edit view or create view -->
{% if object.allergen.name %}
    {{ object.allergen.name }} - Edit a Comment
{% else %}
    {{ allergen_name }} - Save a Comment
{% endif %}
{% endblock title%}

{% block content %}
<h1 class='w-75 mx-auto container'>Enter a comment for 
    {% if object.allergen.name %}
        {{ object.allergen.name }}
    {% else %}
        {{ allergen_name }}
    {% endif %}
</h1>

<!-- Loads form from create or edit generic view -->
<div class='w-75 mx-auto container custom-form'>
    <form action='' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Save Comment' />
    </form>
</div>
{% endblock content %}