{% extends 'layout.html' %}

{% block title %}
Allergen Tracker - Home
{% endblock title %}

<!-- Loads and displays a list of all the allergens saved in the DB -->
{% block content %}
<div class='container w-75'>
    {% if allergen_list %}
    <div class='row'>
        {% for allergen in allergen_list %}
        <div class='col-sm-6'>
            <a class='d-flex justify-content-center border allergens' href="{% url 'allergens:comments' allergen.name %}">
                <div class=''>
                    <p class=''>{{ allergen.name }}:</p>
                    {% if allergen.comment_set.all %}
                    <p class="badge badge-light">
                        {% with logs=allergen.comment_set.count %} 
                            {{ logs }} Log{{logs|pluralize }} Saved
                        {% endwith %}
                    </p>
                    {% else %}
                    <p class="badge badge-info">No Logs</p>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <!-- no-allergens saved error message -->
    <p>no allergens in DB</p>
    {% endif %}
</div>
{% endblock content %}